<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Serial No</th>
                    <th scope="col">Station Code</th>
                    <th scope="col">Station Name</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Distance</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of viewTrainlist.Route">
                    
                    <td>{{i.SerialNo}}</td>
                    <td>{{i.StationCode}}</td>
                    <td>{{i.StationName}}</td>
                    <td>{{i.ArrivalTime}}</td>
                    <td>{{i.DepartureTime}}</td>
                    <td>{{i.Distance}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>